/* Embed Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:100,300,400,600');


body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, 
*:after,
*:before {
    box-sizing: inherit;
}

.wrapper {
    max-width : 960px;
    width : 100%;
    margin : 0 auto;
}

.col-1-3, .col-half, .col-2-3 {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1-3 {
    width : 33%;
}

.col-2-3 {
    width: 66%;
}

.col-half {
    width: 50%;
}

.center {
    text-align: center;
}

.color__white {
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.border__top {
    border-top: 5px solid #00aef5;;
}

.bg__white {
    background : #fff;
}

.radius_5 {
    border-radius: 5px;
}

.center-it {
    width: 80%;
    margin: 0 auto;
}

/* first Section CSS */
.first-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;
}

.first-block, .s2_part_two {
    background: url('../media/home-img.jpg');
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.title {
    padding-left: 4em;
    padding-top: 1em;
    color: #3c3939;
    font-size: 30px;
    text-shadow: 1px 1px #fff;
}

/* First Section Second Block */
.second-block {
    background-color: #fdede7;
}

.nav_bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 5vh;
}

.nav_block {
    display: grid;
    align-items: center;
}

.nav_link {
    text-transform: uppercase;
    font-size: 12px;
    color: #564545;
}

.nav_link:hover {
    color: #eeb25a;
}

.info_sec {
    margin: 15vh auto;
}

.info_sec_welcome, .s2_part_two_small {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    color: #898787;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 300;
}

.info_sec_para, .s2_part_two_para {
    line-height: 22px;
     color : #a59e9e;
}

.info_sec_button {
    line-height: 50px;
    width: 12em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 52px;
    border: 3px solid #000;
    background-color: transparent;
    text-transform: uppercase;
    margin: 5vh 0;
    color: #363636;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.info_sec_button:hover {
    background-color: #000;
    color: #fff;
}

/* Fixed Header */
.header_grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.fixed_header_title {
    margin: 0;
    color: #3c3c3c;
}

.fixed_header_toggler {
    justify-self: end;
    color: #ff9800;
    padding-right: 1em;
}

.fixed_header {
    display: none;
    width: 100%;
    position: fixed;
    background-color: #fdede7;
    padding: 0.5em;
    top: 0;
}

.fixed_nav_bar {
    position: absolute;
    left: -40%;
    transition: left 0.5s linear;
    background-color: #fdede7;
    margin: 2px;
}

.fixed_nav_bar.open {
    left: 25%;
    width: 50%;
}

.fixed_nav_bar .nav_block {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #bcb9b9;
    border-radius: 2px;
}

.fixed_nav_bar .nav_block:last-child {
    border: none;
}

.fixed_nav_bar .nav_link {
    font-size: 18px;
    line-height: 30px;
}
/* Fixed Nav Item CSS */

/* Section Two CSS About */
.second_section {
    display: grid;
    grid-template-columns: 1fr repeat(2, .5fr);
    grid-template-rows: 50vh;
}

.s2_part_one,  .s2_part_three{
    padding: 2rem;
}

.s2_part_two_small {
    color: #ff9800;
}

.s2_part_two {
    background: url(../media/about-img.jpg);
}

.skills_header, .s2_part_two_head {
    margin-bottom: 0;
}

.s2_part_three {
    background-color: #eeb25a;
}

.skills_header, .skills_para{
    color: #fff;
}

.skills_para {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.skill_container {
    margin: 2rem 0;
}

.skill, .skills_value {
    display: inline-block;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.skill_frontend {
    width: 90%;
}

.value_frontend {
    width: 10%;
}

.backend {
    width : 70%;
}

.value_backend {
    width: 30%;
}

.html {
    width: 80%;
}

.value_html {
    width : 20%;
}

.skills_value {
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: right;
}

.skill {
    font-weight: bold;
    border-bottom: 2px solid #000;
}

/* Work Section */
.third_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.work_wrapper {
    padding: 2.5rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

.work_icon {
    font-size: 2rem;
    color: #fff;
}

.work_heading {
    margin: 2rem 0;
    font-weight: 400;
    font-size: 1.8rem;
}

.work__wrapper-1 {
    background-color: #eeb25a;
}

.work__wrapper-2 {
    background-color: #ff5722;
}

.work__wrapper-3 {
    background-color: #000;
}

.work__wrapper-4 {
    color: #000;
}


/* Tablet BreakPoint */
@media screen and (max-width : 768px) and (min-width : 451px){
    body {
        padding-top: 1em; 
    }

    .first-section {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 100vh);
    }

    .fixed_header {
        display: block;
    }

    .title, .nav_bar {
        display: none;
    }

    .second_section {
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
    }
    .s2_part_two {
        height: 50vh;
    }

    .third_section {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width : 450px) {
    body {
        padding-top: 1em; 
    }

    .first-section {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 100vh);
    }

    .fixed_header {
        display: block;
    }

    .title, .nav_bar {
        display: none;
    }

    .second_section {
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
    }
    .s2_part_two {
        height: 50vh;
    }

    .third_section {
        grid-template-columns: 1fr;
    }
}

